<% content_for :title, "Question | StackOverflow" %>

<h1><%= @question.inquiry %><small> - <%= @question.user.username %></small></h1>

<% if user_signed_in? && current_user.username == @question.user.username %>
  <%= link_to "Edit question", edit_question_path(@question) %>
<% end %>

<div class="lead">
  <%= simple_format(@question.post) %>
</div>

<div id="comments">
  <% if @comments.any? %>
    <h3>Answers <small><%= link_to "Answer this question", new_question_comment_path(@question) %></small></h3>
    <%= render @question.comments %>
  <% else %>
    <div id='new_comment'>
      <p><%= link_to "Be the first to answer this question", new_question_comment_path(@question), remote: true %></p>
    </div>
  <% end %>
</div>
